[global]
floatX=float32
warn_float64=warn 

device=cpu

#openmp=1
#openmp_elemwise_minsize=200000

exception_verbosity=high
optimizer=fast_compile

#mode=FAST_RUN
mode=DebugMode

profile=True

[blas]

